@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    background: #edf2fc;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    background: #edf2fc;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 40px;
    width: 17%;
    cursor: pointer;
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
}
nav ul li a:hover{
    color: #ff4321;
}
.btn{
    background: #ff4321;
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.btn:hover{
    background: transparent;
    color: #ff4321;
    border: 1px solid #ff4321;
}
.btn1{
    width: 25px;
    cursor: pointer;
    display: none;
}
.info{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10%;
}
.info h1{
    font-size: 40px;
    color: #444242;
}
.info h2{
    font-size: 38px;
    color: #444242;
}
.info h1 span{
   color: #ff4321;
}
.info h2{
    font-size: 25px;
    color: #444242;
}
.info p{
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 3px;
    text-align: left;
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .man-img{
    left: 54%;
}
.img-box4{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 2150px; right: 150px;
    bottom: 0;
    right: 230px;
    margin-right: 10%;
}
.img-box4 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box5{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 830px; right: 150px;
    bottom: 0;
    right: 730px;
    margin-right: 10%;
}
.img-box5 img{
    height: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box6{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 1480px; right: 150px;
    bottom: 0;
    right: 550px;
    margin-right: 10%;
}
.img-box6 img{
    height: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box7{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 3100px; right: 150px;
    bottom: 0;
    right: 230px;
    margin-right: 10%;
}
.img-box7 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box8{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 3750px; right: 150px;
    bottom: 0;
    right: 230px;
    margin-right: 10%;
}
.img-box8 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box9{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 4250px; right: 150px;
    bottom: 0;
    right: 230px;
    margin-right: 10%;
}
.img-box9 img{
    height: 75%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box10{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 4870px; right: 150px;
    bottom: 0;
    right: 230px;
    margin-right: 10%;
}
.img-box10 img{
    height: 75%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box11{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 900px; right: 150px;
    bottom: 0;
    right: 350px;
    margin-right: 10%;
}
.img-box11 img{
    height: 75%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box12{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 1500px; right: 150px;
    bottom: 0;
    right: 500px;
    margin-right: 10%;
}
.img-box12 img{
    height: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box13{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 1135px; right: 150px;
    bottom: 0;
    right: 350px;
    margin-right: 10%;
}
.img-box13 img{
    height: 75%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box14{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 2670px; right: 150px;
    bottom: 0;
    right: 600px;
    margin-right: 10%;
}
.img-box14 img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box15{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 3260px; right: 150px;
    bottom: 0;
    right: 600px;
    margin-right: 10%;
}
.img-box15 img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box16{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 3840px; right: 150px;
    bottom: 0;
    right: 600px;
    margin-right: 10%;
}
.img-box16 img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box17{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 4370px; right: 150px;
    bottom: 0;
    right: 600px;
    margin-right: 10%;
}
.img-box17 img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box18{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 5830px; right: 150px;
    bottom: 0;
    right: 600px;
    margin-right: 10%;
}
.img-box18 img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box19{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 6410px; right: 150px;
    bottom: 0;
    right: 600px;
    margin-right: 10%;
}
.img-box19 img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box20{
    width: 10%;
    height: 70%;
    position: absolute;
    top: 7120px; right: 150px;
    bottom: 0;
    right: 500px;
    margin-right: 10%;
}
.img-box20 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box21{
    width: 10%;
    height: 70%;
    position: absolute;
    top: 7810px; right: 150px;
    bottom: 0;
    right: 500px;
    margin-right: 10%;
}
.img-box21 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.img-box22{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 8220px; right: 150px;
    bottom: 0;
    right: 450px;
    margin-right: 10%;
}
.img-box22 img{
    height: 60%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-10%);
    transition: bottom 1s, left 1s;
}
.vid-box1{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 5460px; right: 150px;
    bottom: 0;
    right: 230px;
    margin-right: 10%;
}
.vid-box1 video{
    height: 85%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.vid-box3{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 2400px; right: 150px;
    bottom: 0;
    right: 300px;
    margin-right: 10%;
}
.vid-box3 video{
    height: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.vid-box2{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 2700px; right: 150px;
    bottom: 0;
    right: 300px;
    margin-right: 10%;
}
.vid-box2 video{
    height: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box1{
    width: 45%;
    height: 80%;
    position: absolute;
    top: 150px; right: 110px;
    bottom: 8000;
}
.img-box1 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box1:hover .back-img1{
    bottom: 40px;
}
.img-box1:hover .man-img1{
    left: 54%;
}
.img-box2{
    width: 45%;
    height: 80%;
    position: absolute;
    top: 1010px; right: 150px;
    bottom: 8000;
}
.img-box2 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box2:hover .back-img2{
    bottom: 40px;
}
.img-box2:hover .man-img2{
    left: 54%;
}
.img-box3{
    width: 45%;
    height: 80%;
    position: absolute;
    top: 1860px; right: 40px;
    bottom: 8000;
    right: 100px;
}
.img-box3 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box3:hover .back-img3{
    bottom: 40px;
}
.img-box3:hover .man-img3{
    left: 54%;
}
.social{
    margin-left: 8%;
    margin-top: 25px;
}
.social a{
    font-size: 40px;
    color: #606163;
    margin-right: 20px;
}
.social a:hover{
    color: #ff4321;
}
footer {
	background: #000000fd;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 3em 0;
}
@media only screen and (max-width:700px){
    .img-box{
        flex-direction: column-reverse;
        width: 45%;
        height: 50%;
        position: relative;
        top: 0;
        left: 100px;
    }
    .img-box img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    nav ul{
        width:100%;
        background: #bb532a;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display:block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .btn1{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .img-box1{
        flex-direction: column-reverse;
        width: 45%;
        height: 50%;
        position: absolute;
        top: 730px;
        left: 100px;
    }
    .img-box1 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box2{
        flex-direction: column-reverse;
        width: 25%;
        height: 50%;
        position: absolute;
        top: 1650px;
        left: 130px;
    }
    .img-box2 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box3{
        flex-direction: column-reverse;
        width: 45%;
        height: 50%;
        position: absolute;
        top: 2700px;
        left: 100px;
    }
    .img-box3 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box5{
        flex-direction: column-reverse;
        width: 25%;
        height: 25%;
        position: absolute;
        top: 1400px;
        left: 140px;
    }
    .img-box5 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box6{
        flex-direction: column-reverse;
        width: 25%;
        height: 35%;
        position: absolute;
        top: 2100px;
        left: 145px;
    }
    .img-box6 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box4{
        flex-direction: column-reverse;
        width: 35%;
        height: 40%;
        position: absolute;
        top: 2350px;
        left: 125px;
    }
    .img-box4 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box7{
        flex-direction: column-reverse;
        width: 35%;
        height: 35%;
        position: absolute;
        top: 4000px;
        left: 120px;
    }
    .img-box7 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box10{
        flex-direction: column-reverse;
        width: 35%;
        height: 45%;
        position: absolute;
        top: 6100px;
        left: 120px;
    }
    .img-box10 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .vid-box1{
        flex-direction: column-reverse;
        width: 50px;
        height: 500px;
        position: absolute;
        top: 6600px;
        left: 135px;
    }
    .vid-box1 video{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 80%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box9{
        flex-direction: column-reverse;
        width: 15%;
        height: 25%;
        position: absolute;
        top: 4800px;
        left: 160px;
    }
    .img-box9 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box8{
        flex-direction: column-reverse;
        width: 35%;
        height: 35%;
        position: absolute;
        top: 4400px;
        left: 120px;
    }
    .img-box8 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box11{
        flex-direction: column-reverse;
        width: 20%;
        height: 30%;
        position: absolute;
        top: 1900px;
        left: 150px;
    }
    .img-box11 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box12{
        flex-direction: column-reverse;
        width: 20%;
        height: 60%;
        position: absolute;
        top: 2200px;
        left: 140px;
    }
    .img-box12 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .vid-box3{
        flex-direction: column-reverse;
        width: 20%;
        height: 55%;
        position: absolute;
        top: 4600px;
        left: 120px;
    }
    .vid-box3 video{
        flex-direction: column-reverse;
        height: 70%;
        position: absolute;
        left: 80%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .vid-box2{
        flex-direction: column-reverse;
        width: 10%;
        height: 45%;
        position: absolute;
        top: 4350px;
        left: 160px;
    }
    .vid-box2 video{
        flex-direction: column-reverse;
        height: 70%;
        position: absolute;
        left: 80%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box13{
        flex-direction: column-reverse;
        width: 35%;
        height: 40%;
        position: absolute;
        top: 2800px;
        left: 110px;
    }
    .img-box13 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box14{
        flex-direction: column-reverse;
        width: 10%;
        height: 30%;
        position: absolute;
        top: 5200px;
        left: 160px;
    }
    .img-box14 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box15{
        flex-direction: column-reverse;
        width: 20%;
        height: 30%;
        position: absolute;
        top: 5800px;
        left: 145px;
    }
    .img-box15 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box16{
        flex-direction: column-reverse;
        width: 20%;
        height: 30%;
        position: absolute;
        top: 6400px;
        left: 140px;
    }
    .img-box16 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box17{
        flex-direction: column-reverse;
        width: 20%;
        height: 30%;
        position: absolute;
        top: 6800px;
        left: 140px;
    }
    .img-box17 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box18{
        flex-direction: column-reverse;
        width: 25%;
        height: 35%;
        position: absolute;
        top: 9600px;
        left: 140px;
    }
    .img-box18 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box19{
        flex-direction: column-reverse;
        width: 20%;
        height: 30%;
        position: absolute;
        top: 10300px;
        left: 140px;
    }
    .img-box19 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box20{
        flex-direction: column-reverse;
        width: 20%;
        height: 60%;
        position: absolute;
        top: 11000px;
        left: 140px;
    }
    .img-box20 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box21{
        flex-direction: column-reverse;
        width: 20%;
        height: 60%;
        position: absolute;
        top: 11650px;
        left: 140px;
    }
    .img-box21 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    .img-box22{
        flex-direction: column-reverse;
        width: 18%;
        height: 20%;
        position: absolute;
        top: 12250px;
        left: 145px;
    }
    .img-box22 img{
        flex-direction: column-reverse;
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
}